{% extends 'a01_note/base.html' %}

{% block website_title %} {{ web_title|title }} {% endblock website_title %}

{% block page_title %} {{ page_title|title }} {% endblock page_title %}

{% block page_section %}
        <div class="row">
            <div class="col-lg-12 pb-3 mx-auto">
                <div class="card card-form">
                    <div class="card-body col-lg-10 mx-auto mt-3">
                    {% if submitted %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <i class="bi bi-info-circle me-1"></i>
                            Property added
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    {% else %}
                        <!-- Property form -->
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            {% for form in formset %}
                                {{ form.property_type.label }} {{ form.property_type }}<br>
                                {{ form.property_name.label }} {{ form.property_name }}<br>
                                {{ form.order_number.label }} {{ form.order_number }}<br>
                                {{ form.DELETE.label }} {{ form.DELETE }}<br>
                            {% endfor %}


                            <div class="row mb-3">
                                <!-- <label class="col-sm-1 my-col-form-label">Submit</label> -->
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                            <br>
                        </form><!-- Property form -->
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock page_section %}
